<div class="card__actions">
  <form action="/muster/checkin" method="GET">
    <button class="btn" >Điểm Danh</button>
  </form>
  <form action="/muster/checkout" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button class="btn" >Tan Ca</button>
    
  </form>
  <form action="/muster/off" method="GET">
    <button class="btn" >Nghỉ Phép</button>
  </form>
</div>
