<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <div class="grid">
            <article>
                Hello Wolrd, Have A Nice Day!
            </article>
        </div>
    </main>
<%- include('./includes/end.ejs') %>